@page "/about"

<div class="about-container">
    <div class="about-main-col">
        <h1 class="about-title">ABOUT US</h1>
        <div class="about-tagline">where every image finds its place...</div>
        <div class="about-imahe"><i>I&nbsp;M&nbsp;A&nbsp;H&nbsp;E</i></div>
        <div class="about-quote">
            "Imahe's goal is to help photographers and people who often edit pictures, to lessen the time of editing and separating photos especially in different events with the use of AI and without causing data breaches"
        </div>
    </div>
    <div class="about-features-col">
        <div class="about-feature-row">
            <div class="about-feature-icon">&#128172;</div>
            <div class="about-feature-desc"><b>To differentiate good, bad, duplicate and closed eye photos.</b></div>
        </div>
        <div class="about-feature-row">
            <div class="about-feature-icon">&#10133;</div>
            <div class="about-feature-desc"><b>To save time for users, especially for photographers for sorting different photos.</b></div>
        </div>
        <div class="about-feature-row">
            <div class="about-feature-icon">&#128247;</div>
            <div class="about-feature-desc"><b>To improve the visual appearance and to easily organize different photos.</b></div>
        </div>
    </div>
</div> 