@page "/developer"

<div class="developer-container">
    <div class="developer-tagline">where every image finds its place...</div>
    <div class="developer-imahe"><b><i>I&nbsp;M&nbsp;A&nbsp;H&nbsp;E</i></b></div>
    <div class="developer-title"><i>OUR DEVELOPERS</i></div>
    <div class="developer-links">
        
    </div>
    <div class="developer-cards-row">
        <div class="developer-card">
            <img src="/Assets/developer/Kristina.jpg" alt="Kristina Cassandra C. Pescador" class="developer-img" />
            <div class="developer-name">KRISTINA CASSANDRA C.<br/>PESCADOR</div>
            <div class="developer-desc">A student from AMACC Cabanatuan branch, currently 4th year College taking undergraduate degree of Bachelor of Science in Computer Science.</div>
        </div>
        <div class="developer-card">
            <img src="/Assets/developer/Christopher.jpg" alt="Christopher Gail C. Martin" class="developer-img" />
            <div class="developer-name">CHRISTOPHER GAIL C. MARTIN</div>
            <div class="developer-desc">A student from AMACC Cabanatuan branch, currently 4th year College taking undergraduate degree of Bachelor of Science in Computer Science.</div>
        </div>
        <div class="developer-card">
            <img src="/Assets/developer/Kurt.jpg" alt="Kurt Dhaeniel Q. Laborera" class="developer-img" />
            <div class="developer-name">KURT DHAENIEL Q. LABORERA</div>
            <div class="developer-desc">A student from AMACC Cabanatuan branch, currently 4th year College taking undergraduate degree of Bachelor of Science in Computer Science.</div>
        </div>
    </div>
</div> 