@page "/howuseimahe"

<div class="howuse-container">
    <div class="howuse-header">
        <div class="howuse-title">I M A H E</div>
        <div class="howuse-sub">GUIDE HOW TO USE IMAHE PHOTO SORTING SYSTEM</div>
        <div class="howuse-desc">where every image finds its place...</div>
    </div>

    <div class="howuse-section">
        <button class="howuse-main-btn"><b>NOTE:</b> MAKE FOLDERS (INPUT AND OUTPUT FOLDER)
            <div><b>•IF AN IMAGE IS DETECTED TO EXCEED 1GB, IT WILL BE EXCLUDED FROM THE OUTPUT/RESULT FOLDER.</b></div>
            <div></div>
            <div style="color: red; font-weight: bold; text-align: center; margin: 15px 0;">W A R N I N G !!!</div>
            <div></div>
            <div><b>•PLEASE DO NOT LEAVE THE SORTING PAGE ONCE PROCESSING HAS STARTED, AS IT WILL CANCEL THE SORTING.</b></div>
           </button>
        <div class="howuse-step">
            <div class="howuse-step-icon">📁</div>
            <div class="howuse-step-content">
                Input/Paste the images in <b>INPUT FOLDER.</b> that you want to be sorted.
            </div>
        </div>
    </div>

    <div class="howuse-section">
        <div class="howuse-step">
            <div class="howuse-step-icon">⚙️</div>
            <div class="howuse-step-content">
                <b>OPEN THE IMAHE SYSTEM APP, PROCEED TO <b>SETTINGS,</b> and set your preffered setting of your images. </b> After that, Press <b>UPDATE SETTINGS.</b>  
                <b>PRESS THE IMAHE BUTTON, AND PRESS SORT NOW.</b> Next, Browse your <b>INPUT</b> and <b>OUTPUT</b> folder. Finally you can now press <b>START PROCESSING.</b>
            </div>
        </div>
    </div>

    <div class="howuse-section">
        <div class="howuse-step">
            <div class="howuse-step-icon">✅</div>
            <div class="howuse-step-content">
                After processing, open the <b>OUTPUT FOLDER</b> for the results.
            </div>
        </div>
    </div>
</div> 