@page "/learn-more"

<div class="learnmore-container">
    <h1 class="learnmore-title">LEARN MORE</h1>
    <div class="learnmore-sub">IMAHE</div>
    <div class="learnmore-desc">where every image finds its place...</div>
    <hr class="learnmore-divider" />
    <div class="learnmore-faq-row">
        <div class="learnmore-faq-col">
            <div class="learnmore-faq-q"><b>What is the IMAHE system?</b></div>
            <div class="learnmore-faq-a">IMAHE is an AI-powered photo sorting app that uses Convolutional Neural Networks (CNN) to automatically classify images as Good, Bad, Closed Eyes, or Duplicate based on quality and also their orientations which are the Landscape and Portrait.</div>
            <div class="learnmore-faq-q"><b>How does IMAHE detect low-quality photos?</b></div>
            <div class="learnmore-faq-a">IMAHE checks sharpness, exposure, and noise. Blurry, underexposed, or noisy images are automatically labeled as Bad.</div>
        </div>
        <div class="learnmore-faq-col">
            <div class="learnmore-faq-q"><b>Can IMAHE detect closed eyes in a photo?</b></div>
            <div class="learnmore-faq-a">
                Yes! The system uses OpenCV's implementation of Haar Cascade-based Object Detection, First, the haarcascade_frontalface_default.xml model is used to locate human faces. Second, If a face is found, the haarcascade_eye.xml model is then used to search for eyes only within the detected facial region.
                If a face is detected but no eyes are found within it, the image is flagged as "Closed Eye." This method was chosen for its high speed on standard CPUs and its minimal dependency footprint.
            </div>
            <div class="learnmore-faq-q"><b>How are duplicate photos identified?</b></div>
            <div class="learnmore-faq-a">IMAHE uses perceptual hashing (pHash) to compare image fingerprints and detect duplicates with high accuracy.</div>
        </div>
        <div class="learnmore-faq-col">
            <div class="learnmore-faq-q"><b>Can I adjust the image sorting settings?</b></div>
            <div class="learnmore-faq-a">Absolutely. Users can customize the minimum and maximum exposure and sharpness using up and down and typable preferred number to fit their preferences.</div>
            <div class="learnmore-faq-q"><b>Is my photo data safe when using IMAHE?</b></div>
            <div class="learnmore-faq-a">Yes. IMAHE works completely offline, and no photos are uploaded or shared, ensuring full privacy and data security.</div>
        </div>
    </div>
</div> 