@inherits LayoutComponentBase

<div class="premium-layout">
    <nav class="premium-navbar">
        <NavLink class="nav-btn" href="/" ActiveClass="active">IMAH E</NavLink>
        <NavLink class="nav-btn" href="/learn-more" ActiveClass="active">LEARN MORE</NavLink>
        <NavLink class="nav-btn" href="/about" ActiveClass="active">ABOUT US</NavLink>
        <NavLink class="nav-btn" href="/developer" ActiveClass="active">DEVELOPERS</NavLink>
        <NavLink class="nav-btn" href="/settings" ActiveClass="active">SETTINGS</NavLink>
        <NavLink class="nav-btn" href="/health" ActiveClass="active">HEALTH</NavLink>
        <NavLink class="nav-btn" href="/viewfile" ActiveClass="active">View all file</NavLink>
    </nav>
    <main class="premium-main">
        @Body
    </main>
</div>
