@inherits LayoutComponentBase

<div class="premium-layout">
    <nav class="premium-navbar">
        <NavLink class="nav-btn" href="/" ActiveClass="active">IMAHE</NavLink>
        <NavLink class="nav-btn" href="/settings" ActiveClass="active">SETTINGS</NavLink>
        <NavLink class="nav-btn" href="/learn-more" ActiveClass="active">LEARN MORE</NavLink>
        <NavLink class="nav-btn" href="/about" ActiveClass="active">ABOUT US</NavLink>
        <NavLink class="nav-btn" href="/developer" ActiveClass="active">DEVELOPERS</NavLink>
        <NavLink class="nav-btn" href="/health" ActiveClass="active">HEALTH</NavLink>
    </nav>
    <main class="premium-main">
        @Body
    </main>
    <footer class="premium-footer">
        <div class="footer-content">
            <p>&copy; 2025 I M A H E. All rights reserved. | Privacy Policy | Terms of Service | Contact Us: imahesorting@gmail.com</p>
        </div>
    </footer>
</div>

<style>
    .premium-footer {
        background-color: #f8f9fa; /* Light background color */
        padding: 5px; /* Padding for the footer */
        text-align: center; /* Centered text */
        position: relative; /* Positioning */
        bottom: 0; /* Align to the bottom */
        width: 100%; /* Full width */
    }
</style>